<!-- <nav> -->
<span class="sidebar-heading">Introduction</span>
{% for item in site.data.introduction-nav %}
<a href="{{ item.link }}" {% if page.url == item.link %} style="color: #4183C4;" {% endif %}>
  {{ item.name }} 
</a>
{% endfor %}

<div class="sidebar-white-space"></div>

<span class="sidebar-heading">Getting Started</span>
{% for item in site.data.getting-started-nav %}
<a href="{{ item.link }}" {% if page.url == item.link %} style="color: #4183C4;" {% endif %}>
  {{ item.name }}
</a>
{% endfor %}

<div class="sidebar-white-space"></div>

<span class="sidebar-heading">Explained</span>
{% for item in site.data.explained-nav %}
<a href="{{ item.link }}" {% if page.url == item.link %} style="color: #4183C4;" {% endif %}>
  {{ item.name }}
</a>
{% endfor %}
<!-- </nav> -->

<!-- <div id="sidebar-toggle-btn"></div> -->