<!-- <nav> -->
  <span class="sidebar-heading">Introduction</span>
  {% for item in site.data.introduction-nav %}
  {% assign url = page.url | remove: "/" %}
  <a href="{{ item.link }}">
    <span {% if url == item.link %} class="selected-link" {% endif %}>{{item.name}}</span>
  </a>
  {% endfor %}
  
  <div class="sidebar-white-space"></div>
  
  <span class="sidebar-heading">Getting Started</span>
  {% for item in site.data.getting-started-nav %}
  {% assign url = page.url | remove: "/" %}
  <a href="{{ item.link }}">
    <span {% if url == item.link %} class="selected-link" {% endif %}>{{item.name}}</span>
  </a>
  {% endfor %}
  
  <div class="sidebar-white-space"></div>
  
  <span class="sidebar-heading">Explained</span>
  {% for item in site.data.explained-nav %}
  {% assign url = page.url | remove: "/" %}
  <a href="{{ item.link }}">
    <span {% if url == item.link %} class="selected-link" {% endif %}>{{item.name}}</span>
  </a>
  {% endfor %}
  
  <div class="sidebar-white-space"></div>
  
  <span class="sidebar-heading">Archives</span>
  {% for item in site.data.archive-nav %}
  {% assign url = page.url | remove: "/" %}
  <a href="{{ item.link }}">
    <span {% if url == item.link %} class="selected-link" {% endif %}>{{item.name}}</span>
  </a>
  {% endfor %}
  <!-- </nav> -->