.flex-simple {
	display: flex;
	align-items: flex-start;
	position: relative;
	width: 100%;

	.highlighter-rouge {
		// width: 50%;
	}
}

.selected-link {
	color: #333 !important;
	&:after {
		background: #ddd;
		transform: scaleX(1) !important;
	}
}

.sidebar {
	position: sticky;
	top: 125px;
	max-height: calc(100vh - 150px);
	overflow: auto;
	flex-shrink: 0;
	// flex-grow: 0;
	width: 300px;
	background: #eee;
	border-left: 2px solid #ccc;
	padding: 10px 0px 10px 25px;
	margin-left: 10px;
	// box-shadow: 0 0 10px #ccc;
	display: flex;
	flex-direction: column;
	font-size: 0.75em;

	a {
		margin-bottom: 0px;
	}

	a span {
		position: relative;
		display: inline-block;
		color: #666;
		padding: 0px 10px;
		border-radius: 0 30px 30px 0;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #ddd;
			z-index: -1;
			transform-origin: left;
			transform: scaleX(0);
			transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		&:hover {
			color: #333;

			&:after {
				transform: scaleX(1);
			}
		}
	}

	.sidebar-heading {
		font-weight: 600;
		font-size: 1.2em;
		position: relative;
		margin-bottom: 5px;
		// padding-bottom: 0.5em;

		// &:after{
		// 	position: absolute;
		// 	top: 1.5em;
		// 	left: 0;
		// 	content: "";
		// 	width: 40px;
		// 	height: 5px;
		// 	background: #333;
		// }
	}

	.sidebar-white-space {
		height: 0.5em;
	}
}

.m-sidebar {
	display: none;
	// position: absolute;
	top: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
	width: 100vw;
	z-index: 2;
	background: #f7f7f7;
	padding: 20px;
	font-size: 16px;
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: center;

		& > * {
			margin-bottom: 3px;
		}
	}

	a span {
		position: relative;
		display: inline-block;
		color: #666;
		padding: 2px 10px;
		border-radius: 30px;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #ddd;
			z-index: -1;
			transform-origin: left;
			transform: scaleX(0);
			transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		&:hover {
			color: #333;

			&:after {
				transform: scaleX(1);
			}
		}
	}

	.sidebar-heading {
		font-weight: 600;
		font-size: 1.2em;
		position: relative;
		margin-bottom: 5px;
		// padding-bottom: 0.5em;

		// &:after{
		// 	position: absolute;
		// 	top: 1.5em;
		// 	left: 0;
		// 	content: "";
		// 	width: 40px;
		// 	height: 5px;
		// 	background: #333;
		// }
	}

	.sidebar-white-space {
		height: 1em;
	}
}

.move_m_sidebar_up {
	transform: translateY(-100%) !important;
}

#menu-toggle-btn {
	display: none;
	z-index: 10;
	position: fixed;
	top: 10px;
	left: 10px;
}

.hamburger {
	// padding: 15px 15px;
	display: inline-block;
	background: #fff;
	box-shadow: 0 0 10px #aaa;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	border: 0;
	overflow: visible;

	&:focus {
		outline: none;
	}
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 30px;
	height: 24px;
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 100%;
	height: 2px;
	background-color: #000;
	// border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -8px;
}
.hamburger-inner::after {
	bottom: -8px;
}

.hamburger--vortex .hamburger-inner {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
	transition-duration: 0s;
	transition-delay: 0.1s;
	transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
	transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
	transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
	transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}

#explore-more {
	display: inline-block;
	position: relative;
	background-color: rgb(255, 230, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 45px;
	padding-bottom: 5px;
	margin: 10px 0;
	color: #000;
	transition: all 1s;

	.btn-text{
		transform: scale(1);
		transform-origin: left;
		transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
	}

	.arrow {
		position: absolute;
		right: 15px;
		opacity: 0;
		transform: translateX(-5px);
		transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
	}

	&:hover {
		.btn-text {
			transform: scale(0.83);
		}
		.arrow {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

@media (max-width: 1024px) {
	.sidebar {
		display: none;
	}

	.m-sidebar {
		display: block;
		font-size: 14px;
	}

	#menu-toggle-btn {
		display: inline-block;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
