.flex-simple {
	display: flex;
	align-items: flex-start;
	position: relative;

	// .container{
	//   width: 100%;
	// }
}

.sidebar {
	position: sticky;
	top: 125px;
	flex-shrink: 0;
	// flex-grow: 0;
	width: 300px;
	// background: #eee;
	border-left: 1px solid #ddd;
	padding: 10px 0px 10px 25px;
	margin-left: 10px;
	// box-shadow: 0 0 10px #ccc;
	display: flex;
	flex-direction: column;
	font-size: 16px;

	& > * {
		margin-bottom: 3px;
	}

	a {
		color: #aaa;

		&:hover {
			color: #555555;
		}
	}

	.sidebar-heading {
		font-weight: 900;
	}

	.sidebar-white-space {
		height: 1em;
	}
}

.m-sidebar {
  display: none;
  position: sticky;
  // height: 100%;
  // z-index: 2;
	top: 125px;
	flex-shrink: 0;
	// flex-grow: 0;
	width: 320px;
	background: #eee;
	padding: 20px;
	// box-shadow: 0 0 10px #ccc;
	flex-direction: column;
	font-size: 16px;

	& > * {
		margin-bottom: 3px;
	}

	a {
		color: #aaa;

		&:hover {
			color: #555555;
		}
	}

	.sidebar-heading {
		font-weight: 900;
	}

	.sidebar-white-space {
		height: 1em;
	}
}

.sidebar-toggle-btn{
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 1024px) {
	.sidebar {
		display: none;
	}

	.m-sidebar {
		display: flex;
  }
  
  .sidebar-toggle-btn{
    display: inline-block;
  }
}
